@charset "UTF-8";
a {
  color: #fff !important;
}
a:hover {
  color: #fff !important;
  text-decoration: none !important;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

.padding-null {
  padding: 0 !important;
}

.bg-black {
  background-color: #000;
}

.overflow-scroll {
  height: calc(100vh - 163px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 25px;
}

body {
  position: relative;
  height: 100vh;
}

header {
  background-color: transparent;
  position: fixed;
  z-index: 99999;
  width: 100%;
  justify-content: center;
}
header .brand {
  display: flex;
  align-items: center;
  padding: 15px 9px;
}
header .brand img {
  width: 77px;
  height: 44px;
  object-fit: cover;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s;
  height: 100%;
  padding: 15px 0;
}
header nav .navigation-bar li {
  padding: 10px 0;
  position: relative;
  margin-left: 15px;
}
header nav .navigation-bar li:hover .inner-menu {
  opacity: 1;
  visibility: visible;
}
header nav .navigation-bar li .inner-menu {
  position: absolute;
  background: #313131;
  width: 400px;
  left: 0;
  top: 70px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
}
header nav .navigation-bar li .inner-menu .inner-item {
  margin-left: 0;
  width: 100%;
  padding: 10px 25px 0 25px;
}
header nav .navigation-bar li .inner-menu .inner-item:last-child {
  padding-bottom: 10px;
}
header nav .navigation-bar li:first-child {
  margin-left: 0;
}
header nav .navigation-bar li a:hover {
  color: #ff9a00 !important;
  border-bottom: 1px solid #ff9a00;
}
header .toggle {
  display: none;
}
header .user-icon {
  display: flex;
  align-items: center;
}
header .user-icon li {
  margin-right: 15px;
}
header .user-icon li svg {
  fill: #fff;
}
header .user-icon li svg:hover {
  fill: #ff9a00;
}
header .user-icon .user-reg {
  position: relative;
}
header .user-icon .user-reg:hover .user-reg-menu {
  visibility: visible;
  opacity: 1;
}
header .user-icon .user-reg .user-reg-menu {
  position: absolute;
  top: 70px;
  left: -40px;
  background-color: #313131;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
header .user-icon .user-reg .user-reg-menu li {
  margin: 0;
  padding: 10px 0;
}
header .user-icon .user-reg .user-reg-menu li:last-child {
  padding-top: 0;
}
header .user-icon .user-reg .user-reg-menu li:first-child {
  padding-bottom: 0;
}
header .user-icon .user-reg .user-reg-menu li:first-child a {
  border-bottom: none;
}
header .user-icon .user-reg .user-reg-menu li a {
  padding: 3px 20px;
  width: 100%;
  display: inline-block;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.cancel {
  display: none;
}

.menu-toggle {
  transform: translateX(0px) !important;
  transition: all 0.5s !important;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.menu-toggle .cancel {
  display: block;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.menu-toggle .navigation-bar {
  flex-direction: column;
}
.menu-toggle .navigation-bar li {
  margin-left: 0;
  margin-bottom: 20px;
}

.main {
  background-image: url("../img/drawable-hdpi/greg_jeanneau_145136_unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.main .brand {
  padding: 9px 22px;
}

aside {
  background-color: #161a1d;
  padding-top: 22px;
  height: 100vh;
}
aside .social-icon {
  margin-top: 30px;
}
aside .social-icon div {
  background-color: #ff9a00;
  margin: 0;
  width: 2.3rem;
}
aside .social-icon div a {
  color: #000 !important;
  margin: 2px 0;
}
aside .content {
  margin-top: 40px;
  color: #ffffff;
  width: 65%;
  padding-left: 60px;
}
aside .content a {
  display: inline-block;
  background-color: #039022;
  padding: 10px 35px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .show-gallery img {
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .main {
    height: 50vh;
  }

  aside {
    height: initial;
    padding: 250px 0;
  }
}
@media (max-width: 768px) {
  header div .toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
  }
  header div .toggle i {
    font-size: 24px;
  }

  .menu {
    position: absolute;
  }

  .inner-menu {
    left: 120px !important;
    top: 0 !important;
  }
}
.main-about {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.first-main-about {
  background-image: url("../img/drawable-hdpi/patryk_sobczak_162368_unsplash.jpg");
}
.first-main-about:hover .overlay {
  transform: scale(0);
}

.last-main-about {
  background-image: url("../img/drawable-hdpi/monika_grabkowska_759473_unsplash.png");
}
.last-main-about:hover .overlay {
  transform: scale(0);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.content {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrapper-gallery {
  height: 100vh;
  padding-top: 74px;
}
#wrapper-gallery .gallery-img-item {
  height: 100%;
  position: relative;
  margin-bottom: 20px;
}
#wrapper-gallery .gallery-img-item .overlay-gallery-img {
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: 0.5s all;
  cursor: pointer;
}
#wrapper-gallery .image-gallery {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
#wrapper-gallery .show-gallery .img-show-gallery {
  height: 100%;
  position: relative;
  height: calc(100vh - 74px);
}
#wrapper-gallery .show-gallery .img-show-gallery img {
  width: 100%;
  height: calc(100vh - 74px);
  object-fit: cover;
  transform: scale(0);
  transition: 1s all;
  position: absolute;
  z-index: 99;
}
#wrapper-gallery .show-gallery .img-show-gallery .gallery-icon-overlay {
  background: #ff9a00;
  width: 50px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

#wrapper-menu {
  padding-top: 74px;
  height: calc(100vh - 74px);
}
#wrapper-menu .menu-item-page {
  position: relative;
}
#wrapper-menu .menu-item-page:hover .overlay-menu-item {
  transform: scale(0);
}
#wrapper-menu .menu-item-page .overlay-menu-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s all;
}
#wrapper-menu .menu-item-page img {
  width: 100%;
  height: calc(100vh - 74px);
  object-fit: cover;
}

#wrapper-soup {
  padding-top: 74px;
  height: calc(100vh - 74px);
}
#wrapper-soup .soup-product-container {
  height: calc(100vh - 74px);
  overflow: scroll;
}
#wrapper-soup .soup-product {
  padding-top: 50px;
}
#wrapper-soup .soup-product .soup-product-item .soup-product-overlay-container {
  position: relative;
}
#wrapper-soup .soup-product .soup-product-item .soup-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 1s all;
}
#wrapper-soup .soup-product .soup-product-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#wrapper-soup .soup-product .soup-product-item .product-soup-description {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#wrapper-soup .soup-product .soup-product-item .product-soup-description .soup-more-info {
  background: #33b450;
  color: #ffffff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
#wrapper-soup .soup-product .soup-product-item a {
  color: #000 !important;
  border-bottom: #000 solid 1px;
}

#bag-page header nav {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

#bag-wrapper {
  height: calc(100vh - 74px);
  padding-top: 74px;
}
#bag-wrapper .continue-shop {
  color: #fff !important;
  background-color: #E18C0C;
  padding: 10px 20px;
  margin-bottom: 50px;
}
#bag-wrapper .bag-column {
  border: 1px solid #E9E9E9;
  height: 100%;
}
#bag-wrapper a {
  color: #000 !important;
}
#bag-wrapper .bag-product {
  padding-bottom: 40px;
}
#bag-wrapper .bag-product .bag-product-img {
  position: relative;
}
#bag-wrapper .bag-product .bag-product-img .overlay-product-count {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 3;
}
#bag-wrapper .bag-product .bag-product-img .overlay-product-count .input-count-product {
  width: 20%;
  height: 20px;
  margin: 0 5px;
  text-align: center;
}
#bag-wrapper .bag-product .bag-product-img .overlay-product-count button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33b450;
  border: none;
  border-radius: 50%;
}
#bag-wrapper .bag-product .bag-product-img .overlay-product-count button:hover {
  outline: none;
}
#bag-wrapper .bag-product .bag-product-img .overlay-product-count button i {
  font-size: 12px;
  color: #fff;
}
#bag-wrapper .bag-product .bag-product-img img {
  width: 100%;
}
#bag-wrapper .bag-product .bag-product-description {
  display: flex;
  justify-content: space-between;
}
#bag-wrapper .bag-product .bag-product-description .cancel-container-bag {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}
#bag-wrapper .bag-product .bag-product-description .cancel-container-bag .bag-cancel {
  width: 25px;
  height: 25px;
  background-color: #f53550;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
#bag-wrapper .bag-product .bag-product-description .bag-product-name {
  flex-basis: 50%;
}
#bag-wrapper .bag-product .bag-product-description .bag-product-name a {
  border-bottom: 1px solid #000;
}
#bag-wrapper .bag-product .bag-price {
  padding-top: 5px;
}
#bag-wrapper .bag-product .bag-price .discount-price {
  background-color: #f53550;
  color: #ffffff;
  padding: 0 10px;
  display: inline-block;
}
#bag-wrapper .bag-aside {
  padding: 70px 100px 70px 30px;
}
#bag-wrapper .bag-aside ul li {
  display: flex;
  justify-content: space-between;
}
#bag-wrapper .bag-aside ul li span:first-child::before {
  content: "•";
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
#bag-wrapper .bag-aside form .btn-activate {
  color: #fff !important;
  background-color: #ff9a00;
  padding: 5px 20px;
}
#bag-wrapper .bag-aside .check-out {
  margin-top: 250px;
}
#bag-wrapper .bag-aside .check-out .btn-check {
  color: #fff !important;
  background-color: #039022;
  padding: 10px 30px;
  display: inline-block;
}

.swal2-popup {
  padding: 0 !important;
}
.swal2-popup .swal2-header {
  width: 100%;
}
.swal2-popup .swal2-header img {
  width: 100%;
  height: auto;
  margin: 0 !important;
  object-fit: cover;
}

.field-check-out {
  width: 70%;
  margin: auto;
}
.field-check-out textarea:hover,
.field-check-out input[type=text]:hover,
.field-check-out input[type=tel]:hover,
.field-check-out input[type=email]:hover,
.field-check-out input[type=password]:hover,
.field-check-out textarea:active,
.field-check-out input[type=text]:active,
.field-check-out input[type=tel]:active,
.field-check-out input[type=email]:active,
.field-check-out input[type=password]:active,
.field-check-out textarea:focus,
.field-check-out input[type=text]:focus,
.field-check-out input[type=tel]:focus,
.field-check-out input[type=email]:focus,
.field-check-out input[type=password]:focus,
.field-check-out button:focus,
.field-check-out button:active,
.field-check-out button:hover,
.field-check-out label:focus,
.field-check-out .btn:active,
.field-check-out .btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.field-check-out input {
  border: none;
  border-bottom: #E9E9E9 solid 1px;
  border-radius: 0;
}
.field-check-out input::placeholder {
  color: #000;
}
.field-check-out textarea {
  height: 150px;
}
.field-check-out #confirm-order {
  background-color: #33b450;
  color: #fff !important;
  padding: 10px 20px;
}

.check-out-side {
  height: calc(100vh - 74px);
}
.check-out-side form .btn-activate {
  background-color: #7b7b7b !important;
}

#reg-wrapper .registr-img {
  background-image: url("../img/drawable-hdpi/registr-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
#reg-wrapper form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#reg-wrapper form textarea:hover,
#reg-wrapper form input[type=text]:hover,
#reg-wrapper form input[type=tel]:hover,
#reg-wrapper form input[type=email]:hover,
#reg-wrapper form input[type=password]:hover,
#reg-wrapper form textarea:active,
#reg-wrapper form input[type=text]:active,
#reg-wrapper form input[type=password]:active,
#reg-wrapper form input[type=tel]:active,
#reg-wrapper form input[type=email]:active,
#reg-wrapper form textarea:focus,
#reg-wrapper form input[type=text]:focus,
#reg-wrapper form input[type=tel]:focus,
#reg-wrapper form input[type=email]:focus,
#reg-wrapper form input[type=password]:focus,
#reg-wrapper form button:focus,
#reg-wrapper form button:active,
#reg-wrapper form button:hover,
#reg-wrapper form label:focus,
#reg-wrapper form .btn:active,
#reg-wrapper form .btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
#reg-wrapper form input {
  border: none;
  border-bottom: #E9E9E9 solid 1px;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
}
#reg-wrapper form input::placeholder {
  color: #fff;
}
#reg-wrapper form .sign-up {
  margin-top: 6rem;
}
#reg-wrapper form .sign-up span {
  color: #333639;
}
#reg-wrapper form .sign-up a {
  color: #ffffff;
}
#reg-wrapper form .sign-up .sign {
  display: inline-block;
  padding: 10px 50px;
  background-color: #039022;
}
#reg-wrapper form .sign-up .sign-in {
  border-bottom: 1px solid #fff;
}

#reg-wrapper .profile-info {
  height: 100vh;
  padding-top: 74px !important;
}
#reg-wrapper .profile-info .form-item {
  position: relative;
}
#reg-wrapper .profile-info .form-item span {
  position: absolute;
  top: 7px;
  color: #7b7b7b;
}
#reg-wrapper .profile-info .edit-profile-info-btn {
  margin-top: 20px;
}
#reg-wrapper .profile-info .edit-profile-info-btn a {
  background-color: #33b450;
  display: inline-block;
  padding: 10px 60px;
}
#reg-wrapper .profile-info form {
  padding: 0;
}
#reg-wrapper .profile-info form input {
  color: #000000 !important;
  padding-left: 85px;
}
#reg-wrapper .profile-info form .email {
  padding-left: 60px;
}
#reg-wrapper .profile-info form .number {
  padding-left: 115px;
}
#reg-wrapper .user-nav {
  padding-top: 74px !important;
}
#reg-wrapper .user-nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#reg-wrapper .user-nav ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}
#reg-wrapper .user-nav ul li a {
  transition: all 0.5s;
  border: transparent;
}
#reg-wrapper .user-nav ul li a:hover {
  color: #ff9a00 !important;
  border-bottom: 1px solid #ff9a00;
}
#reg-wrapper .user-nav ul li:first-child {
  padding-right: 150px;
}
#reg-wrapper .user-nav ul li:last-child {
  padding-left: 150px;
}

/*# sourceMappingURL=main.css.map */
